@page
@model LogoutModel

<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
</head>
<body>
    <form method="post">
        <h2>Are you sure you want to log out?</h2>
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</body>
</html>